/*
 * Globals
 */

html, body {
margin:0;
padding:0;
height:100%;
}


/* Links */
a, a:hover, a:focus {
	color: $link-hover-color;
}

.navbar-header {
	font-family: "Abril Fatface", serif;
	font-weight: 600;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: $text;
	background-color: $background-color;
	
	.page-header {
		margin-top: 70px 0px; // Offset sticky nav 
		padding: 200px 0 50px 0;
		@media(min-width: $screen-md-min){
			padding: 200px;
		}
		text-align: center;
		h1 {
			font-family: "Abril Fatface", serif;
			font-size: 50px;
		}
		h4 {
			font-size: 20px;
			margin-top: 15px;
		}
		.fa {
			font-size: 45px;
			margin: 10px;
		}
		a, a:hover, a:focus {
			color: $text;
		}


	}
}



.section {
	margin: 125px 0;
	text-align: center;
	h2 {
		font-family: "Abril Fatface", serif; 
		font-size: 40px;
		
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	p {
		font-size: 18px;
		margin: 30px 0 40px 0;
		line-height: 25px;
	}
}

.caption {
	h3 {
		margin-top: 0;
	}
	.fine-print {
		font-size: 12px;
		color: $text-muted;
		font-style: italic;
		margin-bottom: 20px;
	}
}

#about {
	margin-top: 20px;
	text-align: left;
	p {	
		line-height: 35px;
		font-size: 20px;

	}
	.img-container {
		text-align: right;
	}
	img {
		margin-top: 30px;
		max-width: 140px;
	}
		
}


footer {
	background-color: white;
	color: $text;
	text-align: center;
	.fa {
		font-size: 30px;
		padding: 15px;
		vertical-align: middle;
	}
	a, a:hover, a:focus {
		color: $text;
	}
	span {
		font-weight: 700;
	}
}

	