$background-color: #fffefe;
$text: #000;
$link-hover-color: #FF6600;

$light-orange: #ff8c00;

/* Bootstrap Overwrites */

 /**/
$navbar-default-color:   $text;
$navbar-default-link-color: $text;
$navbar-default-link-active-color: $light-orange;
$navbar-default-brand-color: $text;
$navbar-default-brand-hover-color: $light-orange;
$navbar-default-bg:     $background-color;
$navbar-default-link-active-bg: $background-color;